
<div class="detail-window">
  <div class="detail-scrollable">
    <section class="photo-heading">

      <div id="buttonboxback"><a href="/#/">back</a></div>

      <a href="{{photo.link}}"><h3>{{whichPhoto.title}}</h3></a>
  <!-- Photo author should go to author's profile on Flickr -->
      <h5>{{whichPhoto.author}} | {{whichPhoto.published}}</h5>
    </section>

    <section class="photo-details">
      <img class="photo-image" ng-src="{{whichPhoto.media.m}}"/>
      <div class="description">
        <p>{{photoDescription}}</p>
      </div>
      <div class="tags">
  <!-- Iterate over tags in photos -->
        <p>{{whichPhoto.tags}}</p>
      </div>
    <section>

  </div>
</div>
